* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

image {
  width: 100%;
}

header,
footer {
  width: 100%;
  position: absolute;
  color: #5f6368;
}

header {
  height: 6rem;
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: rgb(231, 236, 240);
  width: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

footer div {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.034);
}

nav > ul li a:hover,
footer > .accesibility a:hover {
  text-decoration: underline;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section {
  margin: 1rem;
}

input {
  border: none;
  padding: 1rem;
}

button {
  padding: 1.2rem;
  border-radius: 0.75rem;
  border: 0;
  background-color: rgb(250, 250, 250);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

header > nav {
  padding: 2rem;
  display: flex;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  list-style: none;
}

nav > ul li a {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  gap: 0rem;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  border: 0.1rem rgb(221, 221, 221) solid;
  border-radius: 3rem;
  transition: box-shadow 300ms ease;
  padding: 0.5rem 1.5rem;
}

.searchInput {
  width: 100%;
}

.searchBox:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.country {
  padding: 0 2rem;
}

.accesibility {
  justify-content: space-evenly;
}

.country,
.accesibility a {
  font-size: 1.4rem;
}

nav > ul li a,
.accesibility a,
.country {
  color: #5f6368;
}

.appsIcon {
  width: 1.6rem;
}

.searchIcon,
.voiceIcon {
  width: 2rem;
}

.profileIcon > img {
  width: 3.3rem;
  border-radius: 5rem;
}
