* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.c1,
.c2,
.c3,
.c4,
.c5 {
  width: 100%;
  min-width: 150px;
  height: 150px;
}

.c1 {
  background-color: aquamarine;
}
.c2 {
  background-color: red;
}
.c3 {
  background-color: rgb(214, 61, 112);
}
.c4 {
  background-color: brown;
  height: auto;
}
.c5 {
  background-color: orange;
}

@media (min-width: 600px) {
  .c1 {
    width: 25%;
  }
  .c4 {
    width: 75%;
  }
  .c5 {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .c1 {
    width: 50%;
    order: 1;
  }
  .c4 {
    width: 100%;
  }
  .c5 {
    width: 50%;
    order: 2;
  }
}
